# links follow
Options +FollowSymlinks 
# rewrite Apache activate
RewriteEngine On


# /bienvenue -> /controllers/welcome-controller.php
RewriteRule ^bienvenue$ /controllers/page-controller-welcome.php [L]

# /accueil -> /controllers/home-controller.php
RewriteRule ^accueil$ /controllers/page-controller-home.php [L]

# /connection -> /controllers/connection-controller.php
RewriteRule ^connexion$ /controllers/page-controller-connection.php [L]

# /deconnection -> /controllers/deconnection-controller.php
RewriteRule ^déconnexion$ /controllers/page-controller-deconnection.php [L]

# /inscription -> /controllers/inscription-controller.php
RewriteRule ^inscription$ /controllers/page-controller-inscription.php [L]

# /validation -> /controllers/validation-controller.php
RewriteRule ^validation$ /controllers/page-controller-validation.php [L]

# /category -> /controllers/category-controller.php
RewriteRule ^category$ /controllers/page-controller-category.php [L]

# /article -> /controllers/article-controller.php
RewriteRule ^article$ /controllers/page-controller-article.php [L]

# /contact -> /controllers/contact-controller.php
RewriteRule ^contact$ /controllers/page-controller-contact.php [L]

# /profile -> /controllers/profile-controller.php
RewriteRule ^profil$ /controllers/page-controller-profile.php [L]

# /createArticle -> /controllers/createArticle-controller.php
RewriteRule ^nouvel-article$ /controllers/page-controller-createArticle.php [L]

# /userModify -> /controllers/userModify-controller.php
RewriteRule ^modification-utilisateur$ /controllers/page-controller-userModify.php [L]

# /articleModify -> /controllers/articleModify-controller.php
RewriteRule ^modification-article$ /controllers/page-controller-articleModify.php [L]

# /messageContact -> /controllers/messageContact-controller.php
RewriteRule ^confirmation$ /controllers/page-controller-messageContact.php [L]

# /error -> /controllers/error-controller.php
RewriteRule ^erreur$ /controllers/page-controller-error.php [L]

# /confirmedMail -> /controllers/confirmedMail-controller.php
RewriteRule ^envoi$ /controllers/page-controller-confirmedMail.php [L]

# /dashBoardAdmin -> /controllers/dashBoardAdmin-controller.php
RewriteRule ^dash-board$ /controllers/page-controller-dashBoardAdmin.php [L]

# /dashBoardArticles -> /controllers/dashBoardArticles-controller.php
RewriteRule ^dash-board-articles$ /controllers/page-controller-dashBoardArticles.php [L]

# /delete -> /controllers/page-controller-delete.php
RewriteRule ^suppression$ /controllers/page-controller-delete.php [L]

# /deleteArticle -> /controllers/page-controller-deleteArticle.php
RewriteRule ^suppression-article$ /controllers/page-controller-deleteArticle.php [L]


