/* ----------------RESPONSIVE MOBILE-------------- */

.main>.row{
    height: 100%;
}

.contentMiddle{
    height: 100%;
}

#imgArticle{
    width: 70%;
    height: 70%;
    margin-top: 1em;
    margin-left: 5em;
}

#imgArticle>img{
    object-fit:cover;
    height: 100%;
    width:100%;
}

.textContent{
    margin-top: 1em;
    padding: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-text{
    margin-left: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navCat, .feelings, .contentMiddle{
    margin-top: 2em;
}

#addRemark{
    cursor: pointer;
    text-align: center;
    font-size:x-large;
    margin-top: 2.5em;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(171,11,11);
}

.remark{
    margin-left: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#remarkContent{
    margin-top: 3.5em;
}

span{
    font-family: 'Joti One';
}

@media screen and (max-width: 768px){
    #contact{
        font-size: larger;
        text-align: center;
        margin: 1.5em;
    }
}

/* --------------------------------------------------- */

/* -------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px){
    body{
        height:170%;
    }

    .categoryList{
        border: solid white;
        background-color: rgb(171,11,11);
    }

    #imgArticle{
        margin-left: 9em;
    }

    .textContent{
        border: solid white;
        padding: 1em;
    }
    
    .thirdColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact {
        margin-left: 3em;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }
}

/*--------------------- Modale--------------------- */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: rgb(0,0,0);
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content>.container>textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.close{
    color:#aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */