/* ----------------RESPONSIVE MOBILE-------------- */

.main>.row {
    height: 100%;
}

.contentMiddle {
    height: 100%;
}

#imgCategory{
    width: 70%;
    height: 70%;
    margin-top: 1em;
    margin-left: 4em;
}

#imgCategory>img{
    object-fit:cover;
    height: 100%;
    width:100%;
}

.textContent{
    margin-top: 1em;
    padding: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    color:black;
    margin-top: 1em;
    height: 100%;
}
/* .firstColumn {
}

.secondColumn {
}

.thirdColumn {
} */
.navCat, .feelings, .contentMiddle{
    margin-top: 2em;
}

/* .feelings{
    margin-top: 4em;
} */

/* .imgDiv {
    display: flex;
    justify-content: center;
}

.imgDiv>img {
    width: 90%;
} */

/* .articlesCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* .articlesCategory>div{
    margin: 20px 10px;
} */


@media screen and (max-width: 768px) {
    #contact {
        font-size: larger;
        text-align: center;
        margin: 1.5em;
    }

}

/* --------------------------------------------------- */

/* -------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px) {

    /* .firstColumn {
    }

    .secondColumn {
    } */

    body{
        height:160%;
    }

    .categoryList{
        border: solid white;
        background-color: rgb(171,11,11);
    }

    #imgCategory{
        margin-left: 9em;
    }

    .textContent{
        border: solid white;
        padding: 1em;
    }
    
    .thirdColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact {
        margin-left: 3em;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }
}

/* ---------------------------------------------------- */