/* ----------------RESPONSIVE MOBILE-------------- */

.main>.row {
    height: 100%;
}

.contentMiddle {
    height: 100%;
}

#imgCategory{
    display:flex;
    width: 50%;
    height: 50%;
}

#imgCategory>img{
    object-fit:cover;
}
.card{
    color:black;
}
/* .firstColumn {
}

.secondColumn {
}

.thirdColumn {
} */
.navCat, .feelings, .contentMiddle{
    margin-top: 2em;
}

.imgDiv {
    display: flex;
    justify-content: center;
}

.imgDiv>img {
    width: 90%;
}

/* .articlesCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* .articlesCategory>div{
    margin: 20px 10px;
} */


@media screen and (max-width: 768px) {
    #contact {
        font-size: larger;
        text-align: center;
        margin: 1.5em;
    }

}

/* --------------------------------------------------- */

/* -------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px) {

    /* .firstColumn {
    }

    .secondColumn {
    } */

    body{
        height:110%;
    }

    .categoryList{
        border: solid white;
        background-color: rgb(171,11,11);
    }

    .textContent{
        border: solid white;
        padding: 1em;
    }
    
    .thirdColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact {
        margin-left: 3em;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }
}

/* ---------------------------------------------------- */