/* ----------------RESPONSIVE MOBILE-------------- */

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2em; */
    margin-top: 1em;
    margin-bottom: 1em;
}

main{
    height: 350px;
    width: 2000px;
    /* width: 1000px; */
    background-image: url(/public/assets/img/gamingConsoles.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 1em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formElement{
    color: white;
    display: flex;
    flex-direction: column;
    
}

.formElement>input{
    background-color: rgb(93,84,144);
    border-color: azure;
}

.formValid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formValid>input{
    color: black ;
    background-color: rgb(253,217,19);  
}

#validInscription:hover{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#contact{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.back{
    margin-bottom: 1em;
}

/* --------------------------------------------------- */


/* -------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px){
    body{
        height:120%;
    }

    main{
        height: 500px;
    }

    input{
        width: 300px;
    }

    .formValid>input{
        width: 200px; 
    }

    #contact{
        justify-content: flex-end;
        margin-right: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .back{
        display: flex;
        justify-content: flex-end;
        margin-right: 3.5em;
        margin-bottom: 1em;
    }
}
/* ---------------------------------------------------- */