/* --------------RESPONSIVE MOBILE---------------- */

table{
    margin-top: 4em;
    background-color:  rgba(27,172,22,.75);
    border: 0.6rem black solid;
    font-family: 'Joti One';
    color: white;
}

td{
    font-family: 'Joti One';
}

/* ----------------------------------------------------- */


/* ---------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px) {

    
    
    /* ----------------------------------------------------- */

}