/* ----------------RESPONSIVE MOBILE-------------- */

body{
background-color: black;
color: white;

}

.main>.row {
    height: 100%;
}

.contentMiddle {
    height: 100%;
}

/* .firstColumn {
}

.secondColumn {
}

.thirdColumn {
} */
.navCat, .feelings{
    margin-top: 2em;
}

.imgDiv {
    display: flex;
    justify-content: center;
}

.imgDiv>img {
    width: 100%;
}

@media screen and (max-width: 768px){
    #contact{
        font-size: larger;
        text-align: center;
        margin:1.5em;
    } 

    
}

/* --------------------------------------------------- */

/* -------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px) {

    /* .firstColumn {
    }

    .secondColumn {
    } */

    body{
        height:140%;
    }
    
    .categoryList{
        border: solid white;
        background-color: rgb(171,11,11);
    }

    .textContent{
        border: solid white;
        padding: 1em;
    }
    
    .thirdColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact{
        margin-left: 3em; 
    }

}

/* ---------------------------------------------------- */