/* --------------RESPONSIVE MOBILE---------------- */

@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Joti One';
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.smallLogo {
    height: 60px;
    width: 60px;
}   

h1{
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(171,11,11);
} 

h4{
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: rgb(171,11,11);
}

#mobileTitle{
    margin-top: 0.9em;
}

a{
    text-decoration:none;
    color: inherit;
    transition: 50ms ease;
}

a:hover{
    color: white;
    transform: scale(1.05);
}

#userPicture{
    width: 55px;
    height: 55px;
    display: flex;
}

.userImg{
    border-radius: 50%;
    object-fit: cover;
}

/*----------------------- NAVBAR ----------------- */

.mobileNav{
    --bs-bg-opacity: 1;
    background-color: rgb(27,172,22);
    display: flex;
    flex-wrap: wrap;
}

.listNavMobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listNavMobile>div{
    margin: 5px 0;
    width: 95%;
    background-color: rgb(171,11,11);
    border: 3px solid white;
    text-align: center;
    color: white;
}

.navbarFlexible{
    display: flex;
    justify-content:space-around;
    flex-wrap:nowrap;
}

.logoAndNav{
    display: flex;
}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


/* ---------------------RESPONSIVE PC------------------- */

@media screen and (min-width: 768px) {

    body{
        height: 130%; 
        border: solid 1.2em rgb(27,172,22);
    }
    
    #mobileTitle{
        display: none;
    }
    
    .mobileNav{
        display: none;
    }

    .row {
        height: 100%;
    }

    .navbarLaptop {
        height: 100px;
    }

    /* .logo {
    } */

    .logo>img{
        height:100%;
    }

    /* .titleHeader {
    } */

    /* .loginHeader {
    } */

    h1{
        -webkit-text-stroke: 0.8px;
        -webkit-text-stroke-color: rgb(171,11,11);
    } 

    h4{
        -webkit-text-stroke: 0.4px;
        -webkit-text-stroke-color: rgb(171,11,11);
    }

    .loginHeader>p:hover{
        cursor: pointer;
    }

    .categoryList{
        list-style: none;
    }

    footer{
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5em;
    }

    
    /* ----------------------------------------------------- */

}